---
import Design from "../../components/Design.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Design">
  <div class="rounded-lg border mb-10 min-h-screen border-gray-300 shadow-2xl py-6 mx-16">
    <Design />
  </div>
</Layout>