<header
  class="px-6 py-8 flex justify-between bg-[#F6F6F6] items-center font-Gilroy-Medium font-normal"
>
  <div class="flex items-center">
    <h1 class="mr-10">
      <a href="/">
        <img class="w-32 h-12" src="/Logo.png" />
      </a>
    </h1>
    <nav>
      <ul class="flex justify-center items-center gap-5 font-Gilroy-Medium">
        <li><a class="hover:text-gray-500" href="/">Caza Talentos</a></li>
        <li>
          <a class="hover:text-gray-500" href="index.php?page=about"
            >Dise침adores</a
          >
        </li>
        <li>
          <a class="hover:text-gray-500" href="index.php?page=contact"
            >Inspiraci칩n</a
          >
        </li>
        <li>
          <a class="hover:text-gray-500" href="/UploadDesign">Subir Dise침o</a>
        </li>
        <li>
          <a class="hover:text-gray-500" href="index.php?page=contact"
            >Hazte Profesional</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="flex items-center gap-5 mr-5">
    <a class="hover:text-gray-500" href="/login">Iniciar Sesi칩n</a>
    <a
      href="/register"
      class="bg-[#212121] rounded-lg py-3 px-4 text-white hover:bg-gray-600 transition-colors"
      >Registrarse</a
    >
  </div>
</header>
